body {
    padding: 100px;
}
* {
    padding: 0;
    margin: 0;
}
.submit-area {
    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
.status {
    margin: 0 20px;
    border-radius: 10px;
    color: white;
    padding: 20px;
}
.deposit {
    background-color: slateblue;
}
.withdraw {
    background-color: salmon;
}
.balance {
    background-color: orange;
}